In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [7]:
DF_obj = DataFrame({
    'column1': [1, 1, 1, 1, 2, 4, 5, 1],
    'column2': ['a', 'a', 'a', 'b', 'b', 'c', 'd', 'a'],
    'column3': ['A', 'B', 'J', 'K', 'B', 'B', 'V', 'A']
})

DF_obj

   column1 column2 column3
0        1       a       A
1        1       a       B
2        1       a       J
3        1       b       K
4        2       b       B
5        4       c       B
6        5       d       V
7        1       a       A

In [8]:
# the .duplicated method searches the entire data source and return true, if the record id repeated
DF_obj.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
dtype: bool

In [9]:
# drop_duplicates method drops the duplicated rows
DF_obj.drop_duplicates()

   column1 column2 column3
0        1       a       A
1        1       a       B
2        1       a       J
3        1       b       K
4        2       b       B
5        4       c       B
6        5       d       V

In [12]:
# drop_duplicates method drops the entire row based on the column that is given as parameter
DF_obj.drop_duplicates(['column2'])

   column1 column2 column3
0        1       a       A
3        1       b       K
5        4       c       B
6        5       d       V